body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-primary,
.btn-primary,
.navbar.bg-primary,
.navbar-dark.bg-primary {
  background-color: #4a69bd !important;
  border-color: #4a69bd !important;
}


.btn-primary {
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #3a59a0 !important;
  border-color: #3a59a0 !important;
}
